<div ng-app="myapp" ng-controller="userCtrl">
  <h1>Manage Your Todo List</h1>
  <div ng-hide="auth()">
    <a href="/users/sign_up">Sign Up</a> 
    <a href="/users/sign_in">Sign In</a> 
  </div> 
  <a href="/tasks">Show All Tasks</a>
</div>
